{% load static %}
<a name="top"></a>
<div class="mt-3" style="background-color: black; width:100% ;min-height:100px;max-height:1000px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-3">
            <h3 class="text-white">Contact Information</h3>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-map-marker text-danger"></i>   Analyze Infotech, Lucknow</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-envelope text-danger"></i>   admin@analyzeingotech.in</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-mobile text-danger"></i>   P:  9839434821</p>
        </div>

        <div class="col-md-6 mt-3">
        <h3 class="text-white">About DIgital Attendance</h3>
        <p style="color:yellow; font-size:18px">An online attendance management system or digital attendance platform is one of them, which is developed to automate the daily attendance in schools. Additionally, it helps to maintain accurate records and generate summarized student attendance reports.</p>
    </div>

    <div class="col-md-3 mt-3">
        <h3 class="text-white">Current News</h3>
        <marquee scrollamount="3" behavior="" direction="up">
        <p style="color:yellow; font-size:18px">Without mask no entry for enquiry. Due to COVID19 be safe.</p>

        </marquee>
    </div>
    </div>
</div>
</div>

<a name="down"></a>
